<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'login_reg/style.css' %}" media="screen" title="no title"  charset="utf-8">
 {% load static %}
        <title> Login and Registration Form Django Style Yo! </title>
    </head>
    <body>
        <div id="wrapper">
          {% if messages %}
              {% for message in messages %}
            <p> {{message}}</p>
              {% endfor %}
            {% endif %}

          <h1>Registration Form</h1>
            <h3>Fill out the Following</h3>

            <form action="/login_reg/register" method='post'>
              {% csrf_token %}
                First Name: <input type='text' name='first_name'>
                Last Name: <input type='text' name='last_name'>
                E-mail: <input type='text' name='email'>

                Password: <input type='text' name='password'>
                Confirm Password: <input type='text' name='confirmpw'>

              <input type='submit' value='Register!'>
            </form>


            <aside id="login">
              <h3> Already registered? Login Here! </h3>
              <form action="/login_reg/login" method='post'>
                  {% csrf_token %}
                  E-mail: <input type='text' name='email'>
                  Password: <input type='text' name='loginpw'>
                <input type='submit' value='Log In'>
              </form>

            </aside>

        </div>
    </body>
</html>
