<html>
    <head>
        <meta charset="utf-8">
          {% load static %}
        <link rel="stylesheet" href="{% static 'belt3/tablestyle.css' %}" media="screen" charset="utf-8">

        <title> Friends Home </title>
    </head>
    <body>
        <div id="wrapper">
          {% if messages %}
              {% for message in messages %}
            <p> {{message}}</p>
              {% endfor %}
            {% endif %}

          <h3><strong> Hello, {{request.session.first_name}} !</strong> </h3> <a href="/logout"> Logout</a>
        {% if my_friends %}
          <h4> Here is a list of you friends </h4>
        <table id="myfriends">
        <tr>
          <th>Alias</th>
          <th> Action</th>
        </tr>
        <tr>
          {% for friend in my_friends %}
          <td> {{friend.alias}}</td>
          <td><a href="/{{friend.id}}/show">View Profile</a>
         <a href="/{{friend.id}}/delete"> Remove as Friend </a></td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <h3> You do not have any friends yet! </h3>
        {% endif %}

      <table id="notfriends">
      <h4> Other Users not on your friend's list <h4>
    <tr>
      <th>Alias</th>
      <th> Action</th>
    </tr>
    {% for user in notfriends %}
    <tr>
      <td><a href="/{{user.id}}/show">{{user.alias}}</a></td>
      <td> <a href="/{{user.id}}/add">Add as Friend </a> </td>
    </tr>
    {% endfor %}
  </table>

        </div>
    </body>
</html>
