<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Update Appointments</title>
  </head>
  <body>
    <div id="wrapper">
    <h1> Edit Appointment </h1>
    <a href="/appointments"> Dashboard</a>  |   <a href="/"> Logout</a>

    <form action="/belt/{{id}}/edit" method="post">
        {% csrf_token %}
      Task: <input name="task" type="text">
      Status: <select name="status">
        <option value="Done">Done</option>
        <option value="Pending">Pending</option>
        <option value="Missed">Missed</option>
        </select>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date">

      Time : <input type="time" name="time">

    <input type="submit" value="Update">
  </form>

  </div>
  </body>
</html>
